.footer {
  padding: 46px 48px 24px;
}

.footer__copyright {
  margin: 0;
  margin: auto;
  max-width: 191px;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
}

/*
@media screen and (max-width: 767px) {
  .footer {
    padding: 32px 61px 24px;
  }
}
*/
