.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 148px 46px;
}

.logo {
  margin: auto;
  max-width: 270px;
  height: 100%;
}

.header__title {
  margin: 0;
  padding-top: 90px;
  font-weight: bold;
  font-size: 96px;
  line-height: 104%;
  max-width: 793px;
  text-align: center;
}

.header__description {
  padding-top: 32px;
  font-size: 30px;
  line-height: 120%;
  max-width: 720px;
  margin: auto;
  text-align: center;
}

.header__image {
  margin: auto;
  padding-top: 64px;
  width: 100%;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .header {
    padding: 34px 0px 46px;
    width: 768px;
    margin: auto;
  }

  .header__title {
    max-width: 720px;
  }

  .header__image {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: auto;
    padding: 34px 0px;
  }

  .logo {
    max-width: 200px;
  }

  .header__title {
    padding-top: 50px;
    max-width: 288px;
    font-size: 40px;
  }
  .header__description {
    max-width: 288px;
    font-size: 16px;
  }
  .header__image {
    width: 100%;
    padding-top: 40px;
  }
}
