.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 46px 115px 46px 148px;
  width: 1017px;
}

.intro__content {
  margin: auto;
}

.intro__title {
  margin: 0;
  max-width: 1017px;
  font-style: bold;
  font-size: 54px;
  line-height: 107%;
}

.intro__authortext {
  margin: 0;
  margin-top: 40px;
  max-width: 722px;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  position: relative;
}

.intro__authorname {
  position: absolute;
  right: 0;
}

.intro__description {
  margin: 0;
  margin-top: 42px;
  max-width: 720px;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .intro {
    padding: 46px 24px;
    width: 720px;
  }
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 32px 0px;
    width: 288px;
  }

  .intro__title {
    font-size: 32px;
    max-width: 288px;
  }
  .intro__authortext,
  .intro__authorname {
    font-size: 24px;
    max-width: 288px;
  }

  .intro__authorname {
    bottom: -30px;
  }

  .intro__description {
    max-width: 288px;
  }
}
